@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
body {
  padding: 0;
  margin: 0;
  background: #EFF2F5;
}

nav {
  display: none !important;
}

.limit__Container {
  background: #EFF2F5;
}

.wrapper {
  position: relative;
  height: 950px;
}

.banner {
  padding-top: 18px;
  background: url("./img/banner.png") no-repeat center;
  background-size: cover;
  /*max-height: 1000px;*/
  height: auto;
  padding-bottom: 200px;
  position: relative;
  z-index: 1;
}

.logo__centerItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 65px;
}

.banner__content {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.banner__content .banner__logo {
  display: flex;
  width: 55%;
}
.banner__content .banner__logo img {
  width: 68px;
  height: 65px;
  margin-right: 15px;
}
.banner__content .banner__logo p {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  margin: 0 10px 0 0;
  width: 195px;
  height: 43px;
  font-weight: normal;
  font-size: 23.3999px;
  line-height: 22px;
  text-transform: uppercase;
  color: #303D4E;
}
.banner__content .banner__logo .leftBoldBorder {
  display: inline-block;
  width: 150px;
  border-left: 2.65189px solid #303D4E;
  height: 56px;
  padding: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #A4B2B3;
}
.banner__content .banner__menu {
  width: 45%;
}
.banner__content .banner__menu .nav-links {
  padding: 0px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  list-style-type: none;
}
.banner__content .banner__menu .nav-links li a {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  text-decoration: none;
  color: #303D4E;
}
.banner__content .banner__menu .banner__menu__content {
  max-width: 532px;
  width: 100%;
  margin-top: 60px;
}
.banner__content .banner__menu .banner__menu__content h1 {
  margin: 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 50px;
  color: rgba(0, 0, 0, 0.8);
}
.banner__content .banner__menu .banner__menu__content p {
  margin: 8px 0;
  font-size: 28px;
  line-height: 32px;
  color: #303D4E;
}
.banner__content .banner__menu .banner__menu__content button {
  margin-top: 16px;
  border: none;
  cursor: pointer;
  background: #FDD85D;
  box-shadow: 0 4px 10px rgba(253, 216, 93, 0.4);
  border-radius: 10px;
  width: 221px;
  height: 60px;
}
.banner__content .banner__menu .banner__menu__content button a {
  padding: 2px 10px;
  display: block;
  width: 100%;
  font-size: 16px;
  color: #303D4E;
  text-decoration: none;
}

.form-floating > label {
  top: -6px !important;
}

.form-control {
  height: 48px !important;
}

.trusting__block {
  width: 100%;
}
.trusting__block .block__content {
  padding-top: 10px;
  position: relative;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}
.trusting__block .block__content .phone__svg {
  position: fixed;
  right: 80px;
  bottom: 50px;
  z-index: 1000;
}
.trusting__block .block__content .phone__svg img {
  cursor: pointer;
  width: 100px;
  height: 100px;
}
.trusting__block .block__content h1 {
  font-weight: bold;
  margin: 15px 0 24px 0;
  font-size: 36px;
  line-height: 44px;
  color: #303D4E;
}

.list__block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block__item .col {
  margin: 18px 0;
  display: flex;
  align-items: center;
  max-width: 590px;
  width: 100%;
}
.block__item .col img {
  margin-right: 22px;
}
.block__item .col p {
  margin: 0;
  font-size: 20px;
  line-height: 34px;
  color: #303D4E;
}

.about__us {
  margin-top: 150px;
  padding-bottom: 34px;
  background: #EFF2F5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__us h1 {
  font-weight: bold;
  margin: 0 0 24px 0;
  font-size: 36px;
  line-height: 44px;
  color: #303D4E;
}
.about__us section {
  max-width: 1180px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.about__us section .section__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__us section .section__item img {
  width: 90px;
  height: 90px;
}
.about__us section .section__item:nth-child(1) p {
  width: 161px;
}
.about__us section .section__item:nth-child(2) p {
  width: 198px;
}
.about__us section .section__item:nth-child(3) p {
  width: 176px;
}
.about__us section .section__item p {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #303D4E;
}

.portfolio__slider {
  padding: 0 30px;
  background: #EFF2F5;
  width: 100%;
  margin: 0 auto;
}
.portfolio__slider .slick-list {
  /*padding: 0 30px !important;*/
  overflow: hidden;
}
.portfolio__slider .slick-track {
  display: flex;
}
.portfolio__slider .slick-dots {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio__slider .slick-dots li {
  margin: 0 10px;
  list-style-type: none;
}
.portfolio__slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 13px;
  background: transparent;
  border-radius: 100%;
  border: 1px solid #5A6E79;
  outline: none;
}
.portfolio__slider .slick-dots .slick-active button {
  background: #5A6E79;
}
.portfolio__slider .slider__item {
  margin: 0 16px;
  text-align: center;
}

.slick-slide img {
  width: 100%;
  overflow: hidden;
}

.our__services {
  background: #EFF2F5;
}
.our__services h1 {
  background: #EFF2F5;
  margin: 0;
  padding: 20px;
}

.services {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service__card {
  margin-bottom: 50px;
  width: 100%;
  max-width: 250px;
  min-height: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 200px 0px 0px 0px;
}
.service__card img {
  width: 250px;
  max-width: 100%;
  height: 260px;
  margin-top: 13px;
}
.service__card h3 {
  width: 260px;
  text-align: center;
  margin: 8px 0 5px 0;
  font-weight: 500;
  font-size: 18px;
  height: 95px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.8);
}
.service__card .card-body {
  min-height: 105px;
  border: none;
  background: transparent;
  margin: 8px 0 0 0;
  padding: 0;
  transition: height 1s ease;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #A4B2B3;
}
.service__card .button {
  margin-top: 5px;
  border: none;
  cursor: pointer;
  width: 163px;
  padding: 8px 35px;
  background: #303D4E;
  box-shadow: 0px 4px 20px rgba(95, 119, 150, 0.25);
  border-radius: 10px;
  font-size: 18px;
  line-height: 26px;
  color: #EFF2F5;
}

.workPlan__container {
  max-width: 1180px;
  width: 100%;
  margin: 48px auto;
}
.workPlan__container h1 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #303D4E;
}
.workPlan__container .grid__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 29px;
}
.workPlan__container .grid__container .container__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.workPlan__container .grid__container .container__block h2 {
  margin: 28px 0 8px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: #303D4E;
}
.workPlan__container .grid__container .container__block p {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #A4B2B3;
  max-width: 350px;
  width: 100%;
}

.block__title {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #303D4E;
}

.flex__container {
  padding: 0 24px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex__container .limit__container {
  display: flex;
  margin-bottom: 70px;
}
.flex__container .limit__container .contact__block {
  height: 100%;
  max-width: 590px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flex__container .limit__container .contact__block .block__header {
  display: flex;
}
.flex__container .limit__container .contact__block .block__header .address__detail {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.flex__container .limit__container .contact__block .block__header .address__detail div {
  display: flex;
  align-items: center;
}
.flex__container .limit__container .contact__block .block__header .address__detail div img {
  margin-right: 10px;
  height: 21px;
  width: 21px;
  display: inline-block;
}
.flex__container .limit__container .contact__block .block__header .address__detail div span, .flex__container .limit__container .contact__block .block__header .address__detail div a {
  font-size: 22px;
  line-height: 30px;
  color: #303D4E;
}
.flex__container .limit__container .contact__block .block__header .footer__logo {
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
.flex__container .limit__container .contact__block .block__header .footer__logo img {
  width: 286px;
  float: right;
  height: 79px;
}
.flex__container .limit__container .contact__block .block__footer {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #303D4E;
}
.flex__container .map__block {

}

.our__contacts h1 {
  margin: 40px 0 24px 0;
}

.feedbackSlider {
  background: #EFF2F5;
  width: 100%;
  margin: 0 auto;
}
.feedbackSlider .slick-list {
  padding: 0 30px 0 230px !important;
  overflow: hidden;
}
.feedbackSlider .slick-track {
  display: flex;
}

.feed__item {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(95, 119, 150, 0.4);
  width: 665px;
  height: auto;
  padding: 24px;
  margin: 0 32px;
  border-radius: 5px;
}
.feed__item h2 {
  margin: 0 0 16px 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.8);
}
.feed__item p {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.8);
}
.feed__item .avatar {
  display: flex;
}
.feed__item .avatar img {
  width: 124px;
  height: 122px;
  display: inline-block;
  margin-right: 16px;
}
.feed__item .avatar span {
  font-weight: 500;
  font-size: 20px;
  line-height: 34px;
  color: #303D4E;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    height: 1005px;
  }

  .banner__content .banner__menu .banner__menu__content {
    max-width: unset;
  }
  .banner__content .banner__menu .banner__menu__content h1 {
    font-size: 36px;
  }

  .banner__content {
    flex-direction: column;
    align-items: center;
  }
  .banner__content .banner__logo {
    width: 800px;
    margin-bottom: 20px;
  }
  .banner__content .banner__menu {
    width: 800px;
  }

  .trusting__block {
    height: max-content;
  }
  .trusting__block .block__content h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: #303D4E;
    width: 800px;
    margin: 15px auto;
  }

  .block__item {
    flex-direction: column !important;
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    align-items: flex-start;
  }
  .block__item .col {
    width: 100%;
    margin: 5px 0;
  }

  .about__us {
    padding-top: 40px;
  }

  .about__us section {
    justify-content: space-between;
    max-width: 800px;
  }

  .services {
    max-width: 800px;
  }
  .services .service__card:nth-child(1) {
    order: 1;
  }
  .services .service__card:nth-child(2) {
    order: 3;
  }
  .services .service__card:nth-child(3) {
    order: 2;
  }
  .services .service__card:nth-child(4) {
    order: 5;
  }
  .services .service__card:nth-child(5) {
    order: 4;
  }
  .services .service__card:nth-child(6) {
    order: 6;
  }

  .grid__container {
    margin: 50px auto;
    width: 800px !important;
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .flex__container .limit__container .contact__block {
    width: 800px;
    margin: 0 auto;
    height: max-content;
  }
  .flex__container .limit__container .contact__block .block__header {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .flex__container .limit__container .contact__block .block__header .address__detail div {
    margin: 5px 0;
  }
  .flex__container .limit__container .contact__block .block__header .footer__logo {
    margin-right: unset;
  }
  .flex__container .map__block {
    order: 1;
    width: 100%;
  }
  .flex__container .map__block div {
    width: 100%;
  }
  .flex__container .map__block div iframe {
    width: 100%;
  }
}
#navbarSupportedContent22 ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 768px) {
  .banner {
    padding-bottom: 50px;
  }
  .banner__logo, .banner__menu .nav-links {
    display: none !important;
  }

  .banner__menu, .block__content, .navbar {
    padding: 20px !important;
  }

  .banner__menu__content {
    margin-top: 80px !important;
  }

  .navbar {
    display: flex !important;
    align-items: center;
    z-index: 2000;
    top: 0;
    max-width: 600px;
    width: 100%;
    box-shadow: none !important;
    padding: 0 !important;
  }
  .navbar button {
    float: right;
    box-shadow: none !important;
  }
  .navbar button .animated-icon3 span {
    background: black;
  }
  .navbar img {
    margin-left: -10px;
    width: 230px;
    height: 55px;
  }

  .banner__menu__content button a {
    font-size: 14px !important;
    padding: 0 !important;
    line-height: unset !important;
  }

  .mr-auto {
    margin-top: 25px;
  }

  a.waves-effect, a.waves-light {
    color: black;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #303D4E;
  }

  .wrapper {
    height: 940px;
  }

  .banner__content .banner__logo {
    width: 600px;
  }
  .banner__content .banner__menu {
    max-width: 600px;
    width: 100%;
  }

  .trusting__block .block__content h1 {
    max-width: 600px;
    width: 100%;
  }

  .banner__content .banner__menu .banner__menu__content button {
    /*width: 170px;*/
    height: unset;
    line-height: 40px;
  }

  .list__block {
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
  .list__block .block__item .col {
    padding: 0 !important;
  }

  .about__us section {
    max-width: 600px;
  }

  .services {
    max-width: 600px;
    justify-content: center;
  }

  .grid__container {
    max-width: 600px !important;
    width: 100% !important;
    grid-template-columns: 1fr !important;
  }

  .flex__container .limit__container .contact__block {
    max-width: 600px;
    width: 100%;
  }

  .block__item .col img {
    width: 35px;
    height: 35px;
  }

  .block__item .col p {
    font-size: 16px;
    font-weight: 500;
  }

  .service__card {
    margin-bottom: unset;
  }
}
.card-body {
  box-shadow: none;
}

@media screen and (max-width: 425px) {
  .phone__svg {
    right: 20px !important;
    bottom: 20px !important;
  }
  .phone__svg img {
    width: 60px !important;
    height: 60px !important;
  }

  .feed__item {
    width: 400px;
    height: max-content;
  }

  .banner__menu__content h1 {
    font-size: 30px !important;
    line-height: 30px !important;
  }

  .trusting__block h1 {
    font-size: 26px !important;
  }

  .banner__menu__content {
    width: 100% !important;
  }

  .block__item {
    width: 100%;
  }

  .col {
    padding: 0;
    flex-wrap: nowrap !important;
  }

  .about__us section {
    flex-direction: column;
    align-items: center;
  }

  .block__content h1 {
    width: 100% !important;
  }

  .contact__block {
    padding: 10px;
  }
  .contact__block .block__header {
    flex-direction: column;
  }
  .contact__block .block__header .address__detail {
    order: 2;
  }
  .contact__block .block__header .footer__logo {
    order: 1;
    display: flex !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }
}
@media screen and (max-width: 375px) {
  .feed__item {
    width: 350px;
    height: max-content;
  }

  .grid__container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .banner__menu__content {
    margin-top: 40px !important;
  }
  .banner__menu__content p {
    font-size: 16px !important;
    line-height: 16px !important;
  }

  .block__content h1 {
    font-size: 30px !important;
    line-height: 30px !important;
  }

  .banner__menu, .navbar {
    padding: 5px 20px !important;
  }

  .banner__content .banner__menu .banner__menu__content button {
    margin-top: 5px;
  }

  .portfolio__slider .slick-dots button {
    width: 5px;
    height: 13px;
  }
}
.animated-icon1, .animated-icon2, .animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.animated-icon1 span {
  background: #e65100;
}

.animated-icon2 span {
  background: #e3f2fd;
}

.animated-icon3 span {
  background: #f3e5f5;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

/* Icon 3*/
.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

/* Icon 4 */
.animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.boostrap__tabs {
  background: #303D4E;
}

.container {
  margin-top: 16px;
  padding: 46px 0;
  max-width: 1180px !important;
  min-height: 478px;
}
.container .nav-tabs {
  margin-bottom: 60px;
  border: none;
  justify-content: space-between;
}
.container .nav-tabs .active {
  border-bottom: 1px solid white;
}
.container .nav-tabs li a {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #EFF2F5;
}

.tab-content .tab-pane {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #A4B2B3;
}
.tab-content .form-select {
  width: 260px;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 8px;
}

.content1 {
  display: flex;
}

.paragraphTitle {
  margin: 10px 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #A4B2B3;
}

.paragraphContent {
  margin: 10px 0;
  font-size: 14px;
  line-height: 18px;
  color: #A4B2B3;
}

.leftSide {
  flex-grow: 1;
  height: auto;
  padding-right: 20px;
}

.rightSide {
  max-width: 450px;
  width: 100%;
}

.inputForm {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 450px;
  width: 100%;
}

.form-floating {
  max-width: 215px !important;
  width: 100%;
}
.form-floating input {
  background: #EFF2F5;
  border-radius: 10px;
}

.sendData {
  background: #FDD85D !important;
  box-shadow: 0px 4px 10px rgba(253, 216, 93, 0.4);
  border-radius: 10px;
  border: none;
  margin: 0;
  max-width: 450px;
  padding: 10px 0;
  width: 100%;
}

.rightSide p {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 10px;
  color: #EFF2F5;
}

.content1, .rightSide {
  height: 100%;
}

.calculator {
  margin-bottom: 40px;
}
.calculator h1 {
  margin-bottom: 16px;
}

span.range__value {
  display: inline-block;
  font-weight: 800;
  font-size: 32px;
  line-height: 26px;
  margin-bottom: 40px;
  color: #EFF2F5;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }

  .inputForm {
    flex-direction: column;
  }
  .inputForm .form-floating {
    width: 100% !important;
    margin: 8px 0;
    max-width: unset !important;
  }
}
@media screen and (max-width: 425px) {
  .nav-tabs {
    flex-direction: column !important;
  }
  .nav-tabs li {
    margin: 8px 0;
  }

  .content1 {
    flex-direction: column;
  }
}
.range__container {
  display: flex;
  margin-top: 19px;
  align-items: center;
  justify-content: flex-start;
}

.range {
  display: flex;
  max-width: 377px;
  width: 100%;
}

.form-group {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tick-slider-value {
  width: auto;
  max-width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  margin-right: 32px;
  padding-left: 10px;
  padding-right: 10px;
  background: #EFF2F5;
  border-radius: 10px;
}

.range__slider [type=range] {
  max-width: 377px;
  width: 100%;
  -webkit-appearance: none;
  height: 4px;
  border-radius: 6px;
  background: #f1f1f1;
  outline: none;
  padding: 0;
  margin: 0;
}

/* custom thumb */
.range__slider [type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f9ca24;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-in-out;
  transition: background 0.15s ease-in-out;
}

@media screen and (max-width: 1440px) {
  .feedbackSlider .slick-list {
    padding: 0 30px 0 25px !important;
  }
}
@media (max-width: 768px) {
  .hide-in-mobile {
    display: none;
  }
  .feed__item {
    padding: 16px;
  }
  .feed__item h2 {
    font-size: 20px;
  }
  .feed__item p {
    font-size: 14px;
  }
}
@media (min-width: 769px) {
  .hide-in-desktop {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
